{% extends 'layouts/base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Tasks!</h1>
    
    <div>

        {% for task in tasks %}

        <h3> {% if task.done == False %} 🕑 {% else %} ✅ {% endif %} {{task.title}}</h3>

        <p>Description: {{task.description}}</p>

        <p>Project: {{task.project.name}}</p>

        <button>Delete ❎</button>

        <button>Done ✅</button>



        {% endfor %}

    </div>

</body>
</html>
{% endblock %}